/**
 * Custom styles for the Spam Challenge install profile.
 */

@keyframes rotate {
  from {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

.spam-challenge-congrats {
  text-align: center;
}
.spam-challenge-congrats h3 {
  margin-bottom: 1em;
}
.spam-challenge-congrats img {
  animation: rotate 3s linear infinite;
  -moz-animation: rotate 3s linear infinite;
  -ms-animation: rotate 3s linear infinite;
  -o-animation: rotate 3s linear infinite;
  -webkit-animation: rotate 3s linear infinite;
}

.maintenance-page .l-container {
  position: relative;
}
.spam-challenge-login {
  bottom: 5px;
  position: absolute;
  right: 5px;
}
